.action_outer_container {
  background-image: linear-gradient(91deg, #EECCA3 0%, #EF629F 100%);
  background-color: transparent;
}

.action_container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.action_title {
  color: #FFFFFF;
  font-family: "Playfair Display", sans-serif;
  line-height: 1.5em;
  font-size: 30px;
  font-weight: normal;
}

.action_description {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  line-height: 1.5em;
  margin-bottom: 20px;
  max-width: 400px;
}

.action_button {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #EF629F;
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  border-radius: 40px 40px 0px 40px;
}

.action_image_container {
  flex: 1;
  max-width: 512px;
  object-fit: contain;
  position: relative;
}

.action_image_container img {
  border-radius: 50px 0px 50px 0px;
}

.svg_triangle {
  position: relative;
  top: 4px;
}

.shape_triangle {
  fill: white;
  transform-origin: center;
  transform: rotateX(180deg);
}

.challenge_container{
  text-align: center;
  padding: 50px;
}

.challenge_container h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  line-height: 1.5em;
  margin-bottom: 25px;
}

.challenge_container p {
  color: #747474;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 400
}

.history_container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-image: url("../../public/section-shape-medical.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}

.history_container > * {
  flex: 1;
}

.history_description_container {
  max-width: 500px;
}

.history_container .clinic_name {
  color: #EF629F;
  font-family: "Lato", Sans-serif;
}

.history_container h1 {
  font-family: "Playfair Display", Sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.history_description {
  color: #747474;
}

.consultation_times {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.years_in_service h1 {
  color: #EF629F;
  font-size: 69px;
  font-weight: 600;
  margin: 0;
}

.doctor_name {
  margin-top: 30px;
  margin-bottom: 30px;
}

.clinic_images_container {
  flex-basis: 512px;
  max-width: 512px;
}

.packet_outer_container {
  padding: 20px;
  background-color: #EF629F1A;
  text-align: center;
}

.packet_outer_container .packet_title::before {
  content: "\2014\2014\2014";
  color: #EF629F;
}

.packet_outer_container .packet_title {
  color: #EF629F;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.packet_outer_container .packet_title::after {
  content: "\2014\2014\2014";
  color: #EF629F;
}

.packet_outer_container h1 {
  margin-bottom: 20px;
}

.packet_outer_container p {
  color: #747474;
}

.packet_inner_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.packet_images {
  margin: 10px;
}

.testimony_outer_container {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}

.testimony_outer_container .testimony_title::before {
  content: "\2014\2014";
  color: #EF629F;
}

.testimony_outer_container .testimony_title::after {
  content: "\2014\2014";
  color: #EF629F;
}

.testimony_outer_container .testimony_title {
  color: #EF629F;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.testimony_outer_container h1 {
  margin-bottom: 20px;
}

.testimony_outer_container > p {
  color: #747474;
}

.testimony_inner_container {
  display: flex;
  flex-wrap: wrap;
}

.testimony_inner_container > * {
  flex: 1
}

.contact_container {
  text-align: center;
  background-image: url("../../public/close-up-woman.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% top;
  height: 667px;
}

.contact_color_wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(91deg, rgba(238, 204, 163, 0.5) 10%, rgba(239, 98, 159, 0.5) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact_description {
  padding: 20px;
}

.contact_container h1 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact_container p {
  margin-bottom: 40px;
}